@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playfair Display', serif;
  background-color: #f9fafb;
  color: #1C2751;
}

h1, h2, h3 {
  font-family: 'Great Vibes', cursive;
}
